.menu::after{
    content: '';
 width: 0;
 height: 1px;
 background: #000;
 position: absolute;
 bottom: 0;
 left: 0;
 transition: all 0.4s ease;
}

.menu:hover::after{
 width: 100%;
 transition: all 0.4s ease;
}
.contact{
    border-bottom: 1px solid #000;
    border-width: 50%;
}
.menuc::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease;
}
.menuc:hover::after{
    width: 42%;
    transition: all 0.4s ease;
}
.social_icon{
    height: 32px;
    width: 32px;
}

.social_icon::after{
    content: '';
    height: 0px;
    width: 0px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s ease;
}
.social_icon:hover::after{
    content: '';
    height: 32px;
    width: 32px;
    background: #000;
    border-radius: 50%;
    transition: all 0.5s ease;
}
